*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.ui {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(4, 160px);
  grid-template-rows: auto 100px 100px 100px 100px 100px;
}

.cell {
  border: 1px solid #d8d8d9;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #180200;
  background-color: #e0e0e0;
}

.output {
  background-color: #858693;
  color: #feffff;
  font-size: xx-large;
  grid-column: 1 / -1;
  display: flex;
  flex-direction: column;
  padding: 10px;
  height: 100px;
  align-items: flex-end;
}

.operand {
  background-color: #f5913e;
}

.zero {
  grid-column: span 2;
}
