*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: large;
  color: rgb(52, 46, 46);
}

/* header and main position on every page */
main {
  margin: 30px;
}

header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

nav {
  display: flex;
  justify-content: space-between;
}

.link {
  text-decoration: none;
  margin: auto 5px;
  padding-left: 5px;
  color: black;
  font-size: x-large;
}

.link:nth-child(1) {
  color: tomato;
}

.link:nth-child(2) {
  border-left: 2px solid brown;
  color: #89d8b3;
}

.link:nth-child(3) {
  border-left: 2px solid brown;
  color: plum;
}

h1 {
  font-size: 60px;
  background:
    -webkit-linear-gradient(
      rgb(77, 56, 77),
      #86d9b2,
      #a075a0,
      tomato
    );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* home page */

.welcome-section {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

h2 {
  font-size: 35px;
}

.welcome {
  padding: 30px 0;
}

/* calculator page */

.calculator-section {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.ui {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(4, 130px);
  grid-template-rows: auto 80px 80px 80px 80px 80px;
}

.cell {
  border: 1px solid #d8d8d9;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #180200;
  background-color: #e0e0e0;
}

.output {
  background-color: #858693;
  color: #feffff;
  font-size: xx-large;
  grid-column: 1 / -1;
  display: flex;
  flex-direction: column;
  padding: 10px;
  height: 90px;
  align-items: flex-end;
}

.operand {
  background-color: #f5913e;
}

.zero {
  grid-column: span 2;
}

/* quote page */

.quote {
  position: absolute;
  top: 50%;
}
